<div>
    <p></p>
    <h3>Фильтр продуктов</h3>
    <p></p>

    <form class="row g-3">
        <div class="col-md-4">
            <label for="minPrice" class="form-label">Минимальная цена</label>
            <input type="number" class="form-control" id="minPrice" aria-describedby="minPrice" placeholder=""
                   ng-model="product.min_price">
        </div>
        <div class="col-md-4">
            <label for="maxPrice" class="form-label">Максимальная цена</label>
            <input type="number" class="form-control" id="maxPrice" aria-describedby="maxPrice" placeholder=""
                   ng-model="product.max_price">
        </div>
        <div class="col-md-4">
            <label for="productTitle" class="form-label">Название продукта</label>
            <input type="text" class="form-control" id="productTitle" aria-describedby="username" placeholder=""
                   ng-model="product.name_part">
        </div>
    </form>
    <p></p>
    <button type="submit" class="btn btn-primary" ng-click="loadProducts()">Фильтровать</button>
    <button type="submit" class="btn btn-primary" ng-click="reload()">Сбросить фильтр</button>

    <p></p>
    <h3>Каталог товаров</h3>
    <p></p>

    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Продукт</td>
            <td>Цена</td>
            <td>Добавить в корзину</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in ProductsList">
            <td>{{s.id}}</td>
            <td>{{s.title}}</td>
            <td>
                <button class="btn btn-primary" ng-show="isAdmin()" ng-click="changeQuantity(s.id, -5)">-</button>
                {{s.cost}}
                <button class="btn btn-primary" ng-show="isAdmin()" ng-click="changeQuantity(s.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="addProductCart(s.id)">Добавить</button>
                <button class="btn btn-danger" ng-show="isAdmin()" ng-click="deleteProduct(s.id)">Удалить из базы</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" ng-click="loadProducts(page - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" ng-repeat="pageIndex in pagesList">
                <a class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-click="loadProducts(page + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>