<div>
    <p></p>
    <h3>Каталог товаров</h3>
    <p></p>

    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Продукт</td>
            <td>Цена</td>
            <td>Добавить в корзину</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in ProductsList">
            <td>{{s.id}}</td>
            <td>{{s.title}}</td>
            <td>
                <button class="btn btn-primary" ng-show="isAdmin()" ng-click="changeQuantity(s.id, -5)">-</button>
                {{s.cost}}
                <button class="btn btn-primary" ng-show="isAdmin()" ng-click="changeQuantity(s.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="addProductCart(s.id)">Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div ng-show="isAdmin()">
        <h3>Добавить продукт</h3>
        <form novalidate ng-submit="addProduct()">
            <input class="form-control" type="text" placeholder="Название" ng-model="newProduct.title">
            <p></p>
            <input class="form-control" type="text" placeholder="Категория" ng-model="newProduct.categoryTitle">
            <p></p>
            <input class="form-control" type="number" placeholder="Стоимость" ng-model="newProduct.cost">
            <p></p>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
    <br>
    <h3>Фильтр продуктов</h3>
    <form novalidate ng-submit="loadProducts()">
        <input class="form-control" type="number" placeholder="Минимальная цена" ng-model="product.min_price">
        <p></p>
        <input class="form-control" type="number" placeholder="Максимальная цена" ng-model="product.max_price">
        <p></p>
        <input class="form-control" type="text" placeholder="Имя продукта" ng-model="product.name_part">
        <p></p>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
        <button type="submit" class="btn btn-primary" ng-click="reload()">Сбросить фильтр</button>
    </form>
</div>